<a href="https://colab.research.google.com/github/elsy-torres/S-T/blob/main/sismo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Histograma de Sismicidad

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('catalog.csv',names=['date','lat','lon','depth','Ml','MC','MW'],skiprows=2,sep=',',engine='python')
print(data)

           date     lat      lon  depth   Ml   MC   MW
0    2010-04-04  32.155 -115.256   10.0  5.5  0.0  5.5
1    2010-04-04  32.260 -115.349    6.0  0.0  2.2  2.2
2    2010-04-04  32.210 -115.424    7.0  0.0  2.2  2.2
3    2010-04-04  32.165 -115.283    8.0  0.0  1.9  1.9
4    2010-04-04  32.269 -115.327    6.0  4.7  0.0  4.7
..          ...     ...      ...    ...  ...  ...  ...
928  2010-07-13  32.265 -115.333    5.0  2.2  2.0  2.2
929  2010-07-13  32.176 -115.238    8.0  2.6  2.4  2.6
930  2010-07-13  32.333 -115.342    6.0  2.7  2.5  2.7
931  2010-07-13  32.124 -115.203    8.0  2.5  2.3  2.5
932  2010-07-13  32.390 -115.496    5.0  2.2  2.0  2.2

[933 rows x 7 columns]

In [ ]:
n=len(data)
print(n)

933

In [ ]:
day=100

In [ ]:
bins=np.arange(1,day+1)
print(len(bins))

In [ ]:
df=pd.DataFrame(data)
from IPython.display import display # ignorar(es estetica)
display(df.head(10))

         date     lat      lon  depth   Ml   MC   MW
0  2010-04-04  32.155 -115.256   10.0  5.5  0.0  5.5
1  2010-04-04  32.260 -115.349    6.0  0.0  2.2  2.2
2  2010-04-04  32.210 -115.424    7.0  0.0  2.2  2.2
3  2010-04-04  32.165 -115.283    8.0  0.0  1.9  1.9
4  2010-04-04  32.269 -115.327    6.0  4.7  0.0  4.7
5  2010-04-04  32.247 -115.296    8.0  5.5  0.0  5.5
6  2010-04-04  32.239 -115.294    8.0  4.3  0.0  4.3
7  2010-04-04  32.240 -115.300    6.0  5.7  0.0  5.7
8  2010-04-04  32.296 -115.388    6.0  4.8  0.0  4.8
9  2010-04-05  32.156 -115.222    9.0  4.8  0.0  4.8

In [ ]:
 grouped=df.mode()
 print(grouped)

In [ ]:
series=pd.Series(data['date'])
print(series)

In [ ]:
ocurr=series.value_counts()
print(ocurr)

2010-05-05    25
2010-04-06    24
2010-04-30    20
2010-04-11    19
2010-05-14    19
              ..
2010-06-03     3
2010-06-04     3
2010-05-22     2
2010-06-05     2
2010-06-28     2
Name: date, Length: 100, dtype: int64

In [ ]:
counts=df.set_index(data['date']).resample(data['date']).size()

ValueError: ignored